<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <title>Add Artwork</title>
    <link rel="stylesheet" th:href="@{/static/style.css}"/>
</head>
<body>
<h1>Enter artwork's name and info</h1>
<form action="#" th:action="@{/artist/{login}/addArtwork(login=${login})}" th:object="${artwork}"
      method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}" /></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name
                Error</td>
        </tr>
        <tr>
            <td>Info:</td>
            <td><input type="text" th:field="*{info}" /></td>
            <td th:if="${#fields.hasErrors('info')}" th:errors="*{info}">Info
                Error</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>