<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client</title>
</head>
<body>
<div class="user-form">
    <p><strong>ID:</strong> <span th:text="${user.id}"></span></p>
    <p><strong>Login:</strong> <span th:text="${user.login}"></span></p>
    <p><strong>Password:</strong> <span th:text="${user.password}"></span></p>
    <p><strong>Name:</strong> <span th:text="${user.name}"></span></p>
    <p><strong>Email:</strong> <span th:text="${user.email}"></span></p>
    <p><strong>Tickets:</strong>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Expo</th>
            <th>Cost</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each ="ticket : ${tickets}">
            <td> <span th:text="${ticket.id}">Id</span></td>
            <td> <span th:text="${ticket.expo}">Expo Id</span></td>
            <td> <span th:text="${ticket.cost}">Cost</span></td>
        </tr>
        </tbody>
    </table>
    <p><strong>Reservations:</strong>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Cost</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each ="reservation : ${reservations}">
            <td> <span th:text="${reservation.id}">Id</span></td>
            <td> <span th:text="${reservation.cost}">Cost</span></td>
            <td> <span th:text="${reservation.status}">Status</span></td>
        </tr>
        </tbody>
    </table>
</div>
<a th:href="@{/client/{login}/addTicket(login=${user.login})}">Add new ticket</a>
<a th:href="@{/client/{login}/createRes(login=${user.login})}">Create new reservation</a>
<a th:href="@{/client/{login}/payRes(login=${user.login})}">Pay for reservation</a>
</body>
</html>