<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <title>Edit expo</title>
    <link rel="stylesheet" th:href="@{/static/style.css}"/>
</head>
<body>
<h1>Enter expo and what to edit</h1>
<form action="#" th:action="@{/owner/{login}/editExpo(login=${login})}" th:object="${settings}"
      method="post">
    <table>
        <tr>
            <td>Expo:</td>
            <td><input type="text" th:field="*{expo}" /></td>
            <td th:if="${#fields.hasErrors('expo')}" th:errors="*{expo}">Expo
                Error</td>
        </tr>
        <tr>
            <td>Setting:</td>
            <td><input type="text" th:field="*{setting}" /></td>
            <td th:if="${#fields.hasErrors('setting')}" th:errors="*{setting}">Setting
                Error</td>
        </tr>
        <tr>
            <td>Data:</td>
            <td><input type="text" th:field="*{data}" /></td>
            <td th:if="${#fields.hasErrors('data')}" th:errors="*{data}">Data
                Error</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>