<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <title>Sign In</title>
    <link rel="stylesheet" th:href="@{/static/style.css}"/>
</head>
<body>
    <h1>Please enter your credentials</h1>
    <form action="#" th:action="@{/signIn}" th:object="${user}"
          method="post">
        <table>
            <tr>
                <td>Login:</td>
                <td><input type="text" th:field="*{login}" /></td>
                <td th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login
                    Error</td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="text" th:field="*{password}" /></td>
                <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password
                    Error</td>
            </tr>
            <tr>
                <td><button type="submit">Submit</button></td>
            </tr>
        </table>
    </form>
</body>
</html>