<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Users</h1>
<br>
<div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>Password</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each ="user : ${users}">
                <td> <span th:text="${user.id}">Id</span></td>
                <td> <span th:text="${user.login}">Login</span></td>
                <td> <span th:text="${user.password}">Password</span></td>
                <td> <span th:text="${user.name}">Name</span></td>
                <td> <span th:text="${user.email}">Email</span></td>
                <td> <span th:text="${user.role}">Role</span></td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>